* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.hb {
  background-image: url('../images/02-hero-bg.jpg');
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
}

nav {
  background-color: lightgrey;
}

nav a { 
	padding: 0px 20px; 
 } 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.row {
  display: flex;
}

.title_column {
  flex: 25%;
}

.info_column {
  flex: 75%;
}

p {
  margin: 0;
}
   